/* You can add global styles to this file, and also import other style files */
@import "~material-icons/iconfont/material-icons.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-header {
  background-color: #0070b3;
  box-shadow: 1px 1px 4px #757575;
  padding: 0;
}

h2 {
  color: white;
  font-weight: 500 !important;
  font-size: medium;
}

.btn-primary {
  color: #fff;
  background-color: #0079c2;
  border-color: #0079c2;
}

.btn-primary:hover {
  background-color: #0070b3;
  border-color: #0070b3;
  box-shadow: 0px 2px 5px #0070b3;
}
.btn-secondary {
  color: #fff;
  background-color: #757575;
  border-color: #757575;
}

.btn-secondary:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  box-shadow: 0px 2px 5px #6c757d;
}
